<div id="user">Add Song here!</div>
<form>
  <p>
    <label for='name'>Name</label>
    <input type='text' name='name' id='name'>
  </p>
  <p>
    <label for='artist'>Artist</label>
    <input type='text' name='artist' id='artist'>
  </p>
  <button id="addSong">Add Song</button>
</form>
<ul id="listSongs"></ul>

<script src='./dashboard.js'></script>