<form>
  <p>
    <label for ='name'>Name</label>
    <input type='text' name='name' id='name'>
  </p>
  <p>
    <label for='age'>
    <input type='number' name='age' id='age'>
  </p>
  <button id ='register'>Register</button>
</form>
<form>
  <p>
    <label for='name'>Name</label>
    <input type='text' name='lname' id='lname'>
  </p>
  <button id='login'>Log In</button>
</form>

<script src='./login.js'></script>